.container {width:950px;}

#wrap {width:100%;background-image:url(../img/contentbackground.png);background-repeat:repeat-x;background-color:#ffffff;}

.relative {position:relative;}

h2 {font-family:"Open Sans";font-size:32px;font-weight:normal;color:#46708a;}

section {padding:30px 0px;border-bottom:2px solid #d3dce4;}

/* Encabezado */

section#intro {padding:20px 0px 0px 0px;background-image:url(../img/herobackground.png);background-repeat:repeat-x;border-bottom:none;}

p#headerinfo {font-family:"Open Sans";font-weight:bold;color:#a7bbd2;font-size:18px;margin:10px 0px 20px 0px;}

p#headerdescripcion {font-family:"Open Sans";font-weight:lighter;color:#83b4d3;font-size:32px;margin:40px 0px 0px 0px;line-height: 32px}

p#headerinteresado {font-family:"Open Sans";font-weight:normal;color:white;font-size:20px;margin:35px 0px 0px 0px;}

section#intro h1 {font-family: "Play";
font-weight: bold;
color: white;
font-size: 64px;
line-height: 25px;
margin: 40px 0px 0px 0px;}

section#intro h1 span {font-family:"Play";font-weight:bold;color:#7dd2ea;font-size:28px;}

section#intro input {font-family: "Open Sans";
font-size: 18px;
color: #778a9d;
padding: 12px;
margin: 10px 0px;
width: 298px;}

section#intro p.btn-success {font-family:"Open Sans";font-size:18px;color:white;padding:12px;}

/* Caracteristicas */

section#caracteristicas {padding:30px 0px 0px 0px;}

section#caracteristicas h3 {font-family:"Lato";font-size:20px;color:#2c3640;line-height: 20px}

section#caracteristicas p {font-family:"Open Sans";font-weight:normal;font-size:14px;color:#2c3640;line-height: 18px;margin:0px 0px 5px 0px;}

section#caracteristicas ul {margin-left:18px;}

section#caracteristicas .phoneinhand img {margin-top:210px;float:right;}

#intro a.gomap{
  color: #afabdf;
  padding-bottom: 4px;
  border-bottom: none;
  margin-bottom: 6px;
}
#intro a.gomap:hover{
  text-decoration: none;
  color: #fff;
  border-color: #fff;
}

.caracteristica {clear:both;display:block;}

.caracteristica i {width: 12%;
color: #798a9a;
float: left;
display: block;
margin-top: 5px;}

.caracteristica img {width: 7%;
color: #798a9a;
float: left;
display: block;
margin-top: 5px;}

.caracteristica .textocaracteristica {width: 88%;
float: right;
display: block;
margin-bottom: 10px;}

/* CMS */

section#cms img {margin:0px auto;display:block;}

/* Dispositivos */

section#dispositivos img {margin:0px auto;display:block;}

section#dispositivos p {text-align:center;margin-top:5px;}

/* Contactenos */

section#contacto h3 {font-family: "Open Sans";
font-weight: lighter;
font-size: 20px;
color: #979797;
margin: 10px 0px 10px 0px;
line-height: 30px;}

section#contacto p {color: #496278;}

section#contacto i {margin: 0px 12px;}

section#contacto p.btn-success {
color: white;
width: 50px;
padding: 10px 15px;
display: block;
margin:10px 0px;
}

/* Footer */

footer {background-color:#2b353e;padding:20px 0px;}

footer p, footer img {display:inline;}

footer p {font-family:"Open Sans";color:white;font-size:18px;margin:0px 15px;}

#copyright {display:block;margin:0px auto;width:44%;}















/* Estilos de la "hero-unit", o encabezado principal */

h1 > small {color:white;}

p#lugarYFecha {color:white;}

small#masDireccion {font-size:0.7em;}

p#cuando {color:white;}

p#cancellation_notice {
  font-size:1.2em;
  color:white;
  margin:10px 0px;

}

p#cancellation_notice a {
  color: #62c462;
}

/* Estilos de la navegacion */

#mainNav {margin: 30px 0 0;}

ul#mainNav li,ul li{
  /*list-style: disc inside; */
  margin-bottom:10px;
  font-size:1em;
}

p#botonInscribete {font-size: 1.6em;
margin: 20px 0px;
padding: 20px;
line-height:30px;
color:white;
cursor:auto;}

a#listaEspera {font-size:1.2em;padding:15px;}

/*a.btn-inverse {float:right; margin-top:20px;}*/

/*.navbar .navbar-inverse .navbar-fixed-top {position:none;}*/

/* Estilos de los textos informativos*/


h2.pregunta {text-align:left;} /* Encabezados en forma de pregunta */

.section .head-title .title{ font-size: 1.375em; line-height: 1.1; }
/*.section p{ font-size: .875em; }*/

.section p.respuesta {
  color:#454545;
  text-align:justify;
  font-size:1em;
  font-weight: 400;
} /* parrafos a modo de respuesta */

/* Listas */

.section .head-title ul.listaHackParty {margin-top:20px;} /* listas generales*/ 

.section .head-title ul.listaHackParty li {text-align:justify;margin-top:5px;} /* Elementos de las listas generales*/

#materiales .row{ margin-bottom: 10px; }

#tech .article{
  text-align: center;
}
  
  /* Facilitadores */
  .instructor{ margin-bottom: 20px;}
    .instructor .avatar{
      margin: 0 14px 14px 0 ;
    }
    .instructor .bio{ overflow: hidden; margin-top: 8px;}
    .instructor .bio span{
      display: block;
      font-size: 16px;
    }

    .instructor .bio p{
      font-size: 13px;
      font-weight: 400;
      color: #444;
    }


/* Tabla del Programa */

table#programaHackParty {margin-top:20px;}

table#programaHackParty thead tr th{background-color:#1A1A1A;color:white;}

table#programaHackParty tbody tr td {background-color:#EBEBEB;}

table#programaHackParty tbody tr.filaMora td {background-color:#E5E3FF;}

/* Fotos */

a.fotos img.ganadores {display:block;margin:0px auto 20px auto;width:60%;}